<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Login</title>
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>
<link rel="stylesheet" href="{% static 'logincss.css' %}"></link>
</head>
<body>
    <div class="maincontainer">
    <div class="logincontainer">
        <h1 class="logotext">FEAST</h1>
        <form action="/login/" method="post">
            {% csrf_token %}
            <input type="text" id="email" name="email" placeholder="Email" Required class="emailbox"></input><br>
            <input type="text" id="password" name="password" placeholder="Password" Required class="passwordbox"></input>
            <br>
            {% if error %}
            <script>showAlert('{{ error }}');</script>
            {% endif %}
            <button type="submit" class="loginbutton">Log in</button> 
            <div class ="signuplink">
                <p>Don't have an account? <a href="{% url 'signup' %}" style="color:#0a55f5">Sign Up<a></p>
                </div>
        </form>
</div>
</div>
</body>
</html> 